.mo-navbar {
    display: flex;
    align-items: center;
}

.nav-li {
    margin-left: 25px;

    &:last-of-type {
        margin-left: 0;
    }

    #{$ltr} & {
        margin-right: 25px;
        margin-left: 0;

        &:last-of-type {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

.nav-anchor {
    text-transform: capitalize;
    font-size: 15px;
    color: $text;
    @include transition(all 0.3s ease-in-out);

    &:hover {
        color: $green;
    }
}